html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

html,
body {
  --sb-track-color: #f2f3f3;
  --sb-thumb-color: #d4d6d6;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
html,
body::-webkit-scrollbar {
  width: var(--sb-size);
}

html,
body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

html,
body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

.headerAction {
  padding: 0;
  &:hover {
    background-color: unset !important;
  }
}


body {
  overflow-y: auto;       /* 固定存在，但不侵入布局 */
  scrollbar-width: none;    /* Firefox 隐藏滚动条 */
}

/* Chrome / Edge / Safari 隐藏滚动条 */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}